* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #92e6ff, #1063e7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 16px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 500px;
  text-align: center;
  gap: 24px;
}

h4 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

h3{
  font-size: 20px;
  color: #3911e9;
  font-weight: normal;
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: #3911e9;
}

.checks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  color: #3911e9;
  border: 2px solid #3911e9;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3911e9;
  color: #fff;
  cursor: pointer;
}

section:hover {
  border: 2px solid #3911e9;
  box-shadow: 0 0 10px rgba(25, 8, 104, 0.5);
  transform: scale(1.30);
  transition: 500ms;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media screen and (min-width: 769px) {
  body {
    gap: 16px;
  }

  section {
    padding: 20px;
    gap: 24px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: auto;
    padding: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 24px;
  }


}

@media screen and (max-width: 480px) {
  body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #92e6ff, #1063e7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem;
    gap: 8px;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
    text-align: center;
    gap: 12px;
  }
  
}