*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(135deg, #e5f5e6, #d9e4d7);
}

section{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  padding: 20px;
  border-radius: 8px;

  background: linear-gradient(135deg, #06d3f7, #6494d3);;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  background: linear-gradient(135deg, #e5f5e6, #d9e4d7);
  color: #585757;
}

.btn-container{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.btn-container input{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;

  background-color: #06d3f7;
  color: #fff;
}

input[type="reset"]{
  background-color: #d9534f;
}